<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page/ Show</title>
</head>
<body>
    <h2><%=payment.note%></h2>
    <a href="/payments/edit">Edit this payment</a>
</body>
</html>